# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of popular languages for Data Science.
- List of commonly used libraries in Data Science.
- List of development environment open source used in Data Science.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
<br> In Python,
1. Pandas (Scientifics Computing)
2. Numpy (Scientifics Computing)
3. Matplotlib (Visualization)
4. Seaborn (Visualization)
5. Scikit Learn (Machine Learning & Deep Learning)
6. Keras (Machine Learning & Deep Learning)
7. Tensorflow (Deep Learning)
8. PyTorch (Deep Learning)

|Data Science Tools|
|------------------|
|Jupyter Notebooks & Lab|
|Apache Zeppelin|
|R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This is a simple arithmetic expression to myltiply then add integers.
(3 * 4) + 5

17

In [6]:
# This will convert 200 minutes to hours by driving by 60.
200 // 60

3

## Author

Minyoung Lee